<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">

    <aside class="main-sidebar sidebar-dark-primary elevation-4 " style="position:fixed; left: -10px;">
        <button type="button" class="btn btn-block btn-warning" (click)="ngHome()">Ana sayfa</button>
        <button type="button" class="btn btn-block btn-warning" (click)="ngJobs()">İşler</button>
        <button type="button" class="btn btn-block btn-warning" (click)="ngUsers()">Kullanıcılar</button>
        <button type="button" class="btn btn-block btn-danger" (click)="ngPassword()">Şifre değiştir</button>
        <button type="button" class="btn btn-block btn-warning" (click)="ngLogs()">Log</button>
        
        <button type="button" class="btn btn-block btn-warning" (click)="ngExit()" style="position:absolute; bottom: 0px;">Oturumu durdur</button>
    </aside>
    <div class ="content-wrapper">
        <div class="row">
            
                <div class="input-group mb-3" style="width: 1000px;">
                <input type="password" class="form-control" placeholder="Yeni şifre" #sifre>
                    <div class="input-group-append">
                       <div class="input-group-text">
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3" style="width: 1000px;">
                    <input type="password" class="form-control" placeholder="Yeni şifreyi tekrar girin" #sifre2>
                        <div class="input-group-append">
                           <div class="input-group-text">
                            </div>
                        </div>
                </div>
        </div>
        <button type="button" class="btn btn-block btn-danger" style="width: 150px; position: relative; left: 0px;"(click)="ngPasswordReset(sifre, sifre2)">Şifreyi Değiştir</button>
        </div>
        </div>
        <script>password_reset_admin.component.specs.ts</script>