<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">

    <aside class="main-sidebar sidebar-dark-primary elevation-4 " style="position:fixed; left: -10px;">
        <button type="button" class="btn btn-block btn-warning" (click)="ngHome()">Ana sayfa</button>
        <button type="button" class="btn btn-block btn-warning" (click)="ngJobs()">İşler</button>
        <button type="button" class="btn btn-block btn-warning" (click)="ngUsers()">Kullanıcılar</button>
        <button type="button" class="btn btn-block btn-danger" (click)="ngPassword()">Şifre değiştir</button>
        <button type="button" class="btn btn-block btn-warning" (click)="ngLogs()">Log</button>
        
        <button type="button" class="btn btn-block btn-warning" (click)="ngExit()" style="position:absolute; bottom: 0px;">Oturumu durdur</button>
    </aside>
        <div class ="content-wrapper">
            <div class="input-group mb-3" id="search">
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="İsim Soyisim" #name>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-block btn-secondary" (click)="ngSearch(name)">Kullanıcı ara</button>
                </div>
            </div>
            <div class="row" style="position:relative; left: 585px; width:1000px;">
                <button type="button" class="btn btn-block btn-secondary" (click)="ngFilterInactive()" style="position: relative; left:-575px; width:200px;" id="button3">İnaktif Kullanıcıları Kaldır</button>
                <button type="button" class="btn btn-block btn-danger" (click)="ngReset()" style="width: 90px; position: relative; right:310px;" id="button1">Puanları Sıfırla</button>
                <button type="button" class="btn btn-block btn-secondary" (click)="ngPrint()" style="position: relative; left:600px; width:50px;" id="button2"><tr class = "fa fa-print"></tr></button>
            </div>
            <table class="table table-bordered">
            <thead>
            <tr>
            <th>İsim</th>
            <th>E_posta adresi</th>
            <th>Puan</th>
            <th id>▼</th>
            </tr>
            </thead>
            <tbody *ngFor="let user of data">
                    <tr>
                        <td class = {{user.class}}>{{user.isim}}</td>
                        <td class = {{user.class}}>{{user.e_posta}}</td>
                        <td class = {{user.class}}>{{user.point}}</td>
                        <td class = {{user.class}}>
                            <div class = "row" style = "position: relative; right: -10px;">
                                <button type="button" class="btn btn-block btn-secondary" (click)="ngShow(user.e_posta)" style="width:250px; margin-top: 0.5rem;">Kullanıcının üzerindeki işler</button>
                                <button type="button" class="btn btn-block btn-danger" (click)="ngPasswordReset(user.e_posta)" style="width:250px;">Kullanıcının şifresini değiştir</button>
                                <button type="button" class="btn btn-block btn-danger" (click)="ngChangeActive(user.e_posta)" style="width:250px;">Aktiflik Durumunu Değiştir</button>
                            </div>
                            <div class = "row" style = "position: relative; right: -10px;">
                                <button type="button" class="btn btn-block btn-danger" (click)="ngGive(user.id)" style="width:250px; margin-top: 0.5rem;">Kullanıcıya iş ata</button>
                                <button type="button" class="btn btn-block btn-danger" (click)="ngAdmin(user.e_posta, user.admn)" style="width:250px;">{{user.button}}</button>
                            </div>
                        </td>
                    </tr>
            </tbody>
            </table>

        </div>
    </div>
    </div>
    <script>all_users_admin.component.specs.ts</script>